<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lenservice.bjmspqqmf">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:name=".QFApplication"
        android:allowBackup="true"
        android:icon="@mipmap/qqmf_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Light.NoTitleBar">
        <!--launcherScreeen-->
        <activity android:name=".Interface.activity.QFLauncherScreenActvity"
            android:screenOrientation="portrait"
            android:theme="@style/AppSplash"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">
        </activity>

        <activity android:name=".Interface.activity.QFLoginActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"
            >
        </activity>
    </application>

</manifest>